<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">camera</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <video id="webcam" autoplay playsinline></video>

      <div *ngIf="!cameraActive">
        <ion-button (click)="startCamera()" expand="block" id="capture">
          <ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="cameraActive">
        <ion-button (click)="streamVideo()" expand="block" id="streaming">
          <ion-icon name="radio-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="stopCamera()" expand="block" id="close">
            <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
        <ion-button (click)="flipCamera()" expand="block" id="flip">
            <ion-icon slot="icon-only" name="repeat"></ion-icon>
        </ion-button>
      </div>
    </ion-row>
    <ion-row class="">
      <canvas id="canvas" class="" width="1920" height="1080"></canvas>
      <audio id="snapSound" src="audio/snap.wav" preload = "auto"></audio>
    </ion-row>
  </ion-grid>
</ion-content>
